{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog Sitem{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'anasayfa/css/style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">Blog Sitem</div>

    <nav>
        <a href="/">Ana Sayfa</a>
        <a href="/blog/">Blog</a>
        <a href="/admin/">Admin</a>

        {% if user.is_authenticated %}
            <span class="nav-user">Hoş Geldin, {{ user.username}}</span>
            <a href="{% url 'logout' %}" class="logout-btn">Çıkış Yap</a>
        {% else %}
            <a href="{% url 'login' %}" class="login-btn">Giriş Yap</a>
            <a href="{% url 'register' %}" class="register-btn">Kayıt Ol</a>
        {% endif %}
    </nav>
</header>

<main class="container">
    {% block content %}
  
    {% endblock %}
</main>

<footer class="footer">
    <p>© 2026 Blog Sitem</p>
</footer>

</body>
</html>